{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Delete Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS File -->
<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Main CSS file -->
 <link href="{% static 'css/new_style.css' %}" rel="stylesheet">
<body>
</head>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href='#home' class="w3-bar-item w3-button w3-wide"><i class="fa fa-home"></i> ProjectManager</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
        <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button"><i class="fa fa-list"></i> My Projects</a>
        <a href="{% url 'project-create' %}" class="w3-bar-item w3-button"><i class="fa fa-plus"></i> Create Project</a>
        <a href="#profile" class="w3-bar-item w3-button"><i class="fa fa-user"></i> My Profile</a>
        <a href="{% url 'logout'%}?next={{request.path}}" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> Sign out</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div><!--Navbar end-->
    <div class="container" style="margin-top: 110px">
        <div class="card bg-light">
            <article class="card-body mx-auto text-center" style="max-width: 400px;">
                <h3 class="card-title mt-3 text-center">Delete The Project?</h3>
                <strong><h4>Project Name:</h4></strong>
                <h5><p> {{ project.projectname }}</h5></p>
                <h5>Project Created: </h5>
                <p>{{ project.proj_created_at }}</p>
                <h5>Project Description</h5>
                <p>{{ project.projdesc }}</P>
                <h5>Project Deadline</h5>
                <p>{{ project.project_deadline }}</p>
                <h5>Project Members</h5>
                <h5>Project Tasks</h5>
                <div class="w3-panel w3-border w3-round-xlarge alert-danger">
                <p>Are you sure you want to delete the project?</p>
                <form action="" method="POST">
                {% csrf_token %} 
                    <button type="button" class="btn btn-warning">Yes</button>
                    <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-secondary"<input type="submit" action="">No</button>
                </form>
                </div>
            </article>
        </div> <!-- card.// -->
    </div>
    <!--container end.//-->

</body>

</html>