{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      .carousel-item {
        text-align: center;
        min-height: 280px;
      }
    </style>
  </head>

  <body>
    <!-- Header -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="text-transform: uppercase;">
        <a class="navbar-brand" href="#">Product Managment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products & Services</a>
            </li>
          </ul>
          <span class="navbar-text {% block register_active %}{% endblock %}">
            <a href="{% url 'register' %}">Sign up</a>
          </span>
        </div>
      </nav>
    </header>
    <!-- Header -->
    
    <!-- Container -->
    <div class="container">
      <div class="row" style="margin-top: 20px;">
        <div class="col-12 col-md-6 col-xl-6">
          <div>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for carousel items -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'img/gallery/gallery-5.jpg' %}" alt="First Slide">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'img/gallery/gallery-2.jpg' %}" alt="Second Slide">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'img/gallery/gallery-3.jpg' %}" alt="Third Slide">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'img/gallery/gallery-4.jpg' %}" alt="Fourth Slide">
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-xl-6">
          <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;text-transform: uppercase;">
              <h4 class="card-title mt-3 text-center">Sign in</h4>
              <form class="form-horizontal" role="form" action="" method="POST" enctype="multipart/form-data">    
                {% csrf_token %}    
                {{ form | crispy }}
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">SIGN IN</button>
                </div>                                                     
              </form>
              <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            </article>
          </div>
        </div>
      </div>
    </div>
    <!-- Container -->
  
    <!-- Footer -->
    <footer class="page-footer font-small">
        <!-- Footer Links -->
        <div class="container">
          <hr class="rgba-white-light" style="margin: 0 15%;">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'index' %}">About</a>
              </h6>
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">Products</a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">Copyright</a>
              </h6>
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">Privacy</a>
              </h6>
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
        
          </div>
          <!-- Grid row-->
    
          <hr class="rgba-white-light" style="margin: 0 15%;">
               
        </div>
        <!-- Footer Links -->
        
        <!-- Copyright -->
        <div class="float-right"><a href="#">Back to top</a></div>
        <div class="footer-copyright text-center py-3">&copy; 2019 All rights reserved. Design by Product Manager</div>
        <!-- Copyright -->
        
      </footer>
      <!-- Footer -->
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
  </html>