{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <title>Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	 
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
	<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	
    <style>
		.vertical-menu a {
			background-color: #eee;
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }
        .vertical-menu a:hover {
			background-color: #e4dede;
        }
	</style>

    <script type="text/javascript">
		$(document).ready(function() {
			$('#table_id').DataTable({
				"pagingType": "full_numbers"
			});
		});
    </script>         
  </head>

  <body>
	  <!-- Header -->
	  <header>
	  	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="text-transform: uppercase;">
			<a class="navbar-brand" href="#">Product Managment</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
				
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				    <li class="nav-item">
					   <a class="nav-link" href="{% url 'index' %}">About</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Products & Services</a>
					</li>
					<li class="nav-item active">
					  <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="{% url 'project-create' %}">Create Project</a>
					</li>
				</ul>
				{% if user.is_authenticated %}
				{% block empty %}{% endblock%}
				{% else %}
					<span span class="navbar-text" class="{% block register_active %}{% endblock %}">
						<a href="{% url 'register' %}">Sign Out</a>
					</span>
					<span class="navbar-text" class="{% block login_active %}{% endblock %}">
                		<a href="{% url 'login' %}">Sign In</a>
					</span>
				{% endif %}
				{% if user.is_authenticated %}
					<span class="navbar-text" style="padding-right: 10px;">
						<a href="{% url 'profile' %}">{{ user.get_username }}</a>
					</span>
				{% csrf_token %}
					<span class="navbar-text">
						<a href="{% url 'logout'%}?next={{request.path}}">Sign out</a>
					</span>
				{% endif %}
			</div>
		</nav>
	</header>
	<!-- Header -->

	<!-- Container -->
	<div class="container">
		<div class="row" style="margin-top: 40px;">
			<div class="col-sm-2">
				<div class="vertical-menu">
					<a href="#">Link 1</a>
					<a href="#">Link 2</a>
					<a href="#">Link 3</a>
					<a href="#">Link 4</a>
					<a href="#">Link 5</a>
					<a href="#">Link 6</a>
				</div>			
			</div>
	
			<div class="col-sm-8">
				<h2>Recent Projects</h2>
				<table id="table_id" class="table table-striped table-responsive table-hover border border-secondary rounded">
					<thead>
						<tr>
							<th>Project</th>
                        	<th>Deadline</th>
							<th>Created</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
					{% for project in project_list %}
						<tr class="clickable">
							<td>
								{{ project.projectname }}
							</td>
							<td>
								{{ project.project_deadline }}
							</td>
							<td>
								{{ project.proj_created_at }}
							</td>
							<td>
								<a href="{% url 'project-update' project.projectid %}">
									<button type="button" class="btn btn-primary">Edit</button>
								</a>
							</td>
							<td>
                                <a href="{% url 'project-delete' project.projectid %}">
									<button type="button" class="btn btn-danger">Delete</button>
								</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
			</table>
			</div>

		    <div class="col-sm-2">
				<h2>&nbsp;</h2>
                <table class="table table-sm table-responsive table-hover border border-secondary rounded">
						<thead>
						  <tr>
							<th scope="col">To Do List</th>
						  </tr>
						</thead>
						<tbody style="font-size: 12px;">
						  <tr>
							<td>Lorem ipsum dolor sit amet</td>
						  </tr>
						  <tr>
                            <td>Consectetur adipiscing elit</td>
						  </tr>
						   <tr>
                            <td>Integer molestie lorem at massa</td>
						  </tr>
						  <tr>
                            <td>Consectetur adipiscing elit</td>
						  </tr>
						  <tr>
							<td>Facilisis in pretium nisl aliquet</td>
						  </tr>
						  <tr>
							<td>Nulla volutpat aliquam velit</td>
						  </tr>
						</tbody>
					  </table>
			</div>
		</div>
    </div>
	<!-- Container -->
	
  	<!-- Footer -->
	<footer class="page-footer font-small">
		<!-- Footer Links -->
		<div class="container">
			<hr class="rgba-white-light" style="margin: 0 15%;">
			<!-- Grid row-->
			<div class="row text-center d-flex justify-content-center pt-5 mb-3">
				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="{% url 'index' %}">About</a>
					</h6>
				</div>
				<!-- Grid column -->
					
				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!">Products</a>
					</h6>
				</div>
				<!-- Grid column -->
				  
				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!">Copyright</a>
					</h6>
				</div>
				<!-- Grid column -->
					
				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!">Privacy</a>
					</h6>
				</div>
				<!-- Grid column -->
					
			<!-- Grid column -->
			<div class="col-md-2 mb-3">
				<h6 class="text-uppercase font-weight-bold">
					<a href="#!">Contact</a>
				</h6>
			</div>
			<!-- Grid column -->
					
		</div>
		<!-- Grid row-->
					  
	  	<hr class="rgba-white-light" style="margin: 0 15%;">
					
	  </div>
	  <!-- Footer Links -->
					
	  <!-- Copyright -->
	  	<div class="float-right"><a href="#">Back to top</a></div>
		<div class="footer-copyright text-center py-3">&copy; 2019 All rights reserved. Design by Product Manager</div>
	  <!-- Copyright -->
					
    </footer>
	<!-- Footer -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>